* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "poppins", sans-serif;
  background-color: rgb(253, 212, 212);
}

h1 {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 15px;
  font-size: 40px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.loader {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.8);
}

.loader img {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

/* image */

.img-container {
  margin: 10px 460px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 30px;
  transition: all 2s ease;
  -webkit-transition: all 2s ease;
  -moz-transition: all 2s ease;
  -ms-transition: all 2s ease;
  -o-transition: all 2s ease;
  animation: 2s op ease;
  -webkit-animation: 2s op ease;
}


@keyframes op {
  0%{
    opacity: 0;
    transform: scalex(1.1);
    transition: all 2s ease;
    -webkit-transition: all 2s ease;
    -moz-transition: all 2s ease;
    -ms-transition: all 2s ease;
    -o-transition: all 2s ease;
    -webkit-transform: scalex(1.1);
    -moz-transform: scalex(1.1);
    -ms-transform: scalex(1.1);
    -o-transform: scalex(1.1);
}
  100%{
    opacity: 1;
    transform: scalex(1);
    transition: all 2s ease;
    -webkit-transition: all 2s ease;
    -moz-transition: all 2s ease;
    -ms-transition: all 2s ease;
    -o-transition: all 2s ease;
    -webkit-transform: scalex(1);
    -moz-transform: scalex(1);
    -ms-transform: scalex(1);
    -o-transform: scalex(1);
}
}

.img-container a {
  text-decoration: none;
  font-style: italic;
  font-weight: 700;
  color: black;
}

.img-container img {
  width: 100%;
  margin-top: 10px;
  border-radius: 5px;
  border: 2px solid rgb(85, 182, 247);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.img-container img {
  transition: all 0.4s ease;
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
}

.img-container img:hover {
  transition: all 0.4s ease;
  transform: scale(1.02);
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -webkit-transform: scale(1.02);
  -moz-transform: scale(1.02);
  -ms-transform: scale(1.02);
  -o-transform: scale(1.02);
}

.shownames .img-container img {
  width: 100%;
  height: 400px;
  transition: all 0.3s ease;
  margin-top: 5px;
  border: 2px solid rgb(94, 215, 147);
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

/* Media query for smart phones */
@media screen and (max-width: 600px) {
  h1 {
    font-size: 20px;
  }

  .img-container {
    margin: 10px;
  }
}
